/***************************************************************
*************************STYLE CSS******************************
****************************************************************/


html , body {

}

html {
   min-block-size: 100vh;
}

body {
   
   background: #fff;
   color: rgb(0, 0, 0);
}

@keyframes change {
   0%{
      background-position: 0 50%;
   }
   50%{
      background-position: 100% 50%;
   }
   100%{
      background-position: 0 50%;
   }
}

@font-face {
    font-family: cheddar_jackregular;
    src: url('fonts/cheddarjack/cheddar_jack-webfont.eot');
    src: url('fonts/cheddarjack/cheddar_jack-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cheddarjack/cheddar_jack-webfont.woff2') format('woff2'),
         url('fonts/cheddarjack/cheddar_jack-webfont.woff') format('woff'),
         url('fonts/cheddarjack/cheddar_jack-webfont.ttf') format('truetype'),
         url('fonts/cheddarjack/cheddar_jack-webfont.svg#cheddar_jackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: hk_novamedium_narrow;
    src: url('fonts/hknovamediumnarrow/hknova-mediumnarrow-webfont.eot');
    src: url('fonts/hknovamediumnarrow/hknova-mediumnarrow-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hknovamediumnarrow/hknova-mediumnarrow-webfont.woff2') format('woff2'),
         url('fonts/hknovamediumnarrow/hknova-mediumnarrow-webfont.woff') format('woff'),
         url('fonts/hknovamediumnarrow/hknova-mediumnarrow-webfont.ttf') format('truetype'),
         url('fonts/hknovamediumnarrow/hknova-mediumnarrow-webfont.svg#hk_novamedium_narrow') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: "HKNovaMedium";
src: url("css/fonts/HKNovaMedium.eot");
src: 
url("fonts/hknova-medium-webfont.woff") format("woff"),
url("fonts/hknova-medium-webfont.otf") format("opentype"),

}

@font-face {
    font-family: 'clearline';
    src: url('fonts/clearline/bw-font-webfont.woff2') format('woff2'),
         url('fonts/clearline/bw-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.nav>li>a:hover, .nav>li>a:focus {
   text-decoration: none;
   background-color: rgba(255,255,255,.15);
}

.member-glenn {
   display: none;
}

.glenn:hover .member-glenn {
  display: block
}

.collapse.in {

  display: block;
  position: absolute;
  right: 10px;
  text-align: center;
}

.copyright {
    color: #222;
    line-height: 30px;
    min-height: 30px;
    padding: 7px;
    position: fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    clear: both;
}

.copyright-others {
   color: #222;
   line-height: 30px;
   min-height: 30px;
   padding: 7px;
   position: relative;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   clear: both;
}

.copyright-others p {
   color: #000000;
   line-height: 30px;
   min-height: 30px;
   padding-top: 10px;
   width:100%;
   bottom: 0;
   font-size: 14px;
}


.copyright-switch {
    color: #222;
    line-height: 30px;
    min-height: 30px;
    padding: 7px;
    position: relative;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

.copyright-contact {
   color: #222;
   line-height: 30px;
   min-height: 30px;
   padding: 7px;
   position: fixed;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   clear: both;
}

.copyright p {
    color: #000000;
    line-height: 30px;
    min-height: 30px;
    padding-top: 10px;
    width:100%;
}

.copyright-homepage {
    color: rgb(0, 0, 0);
    line-height: 30px;
    min-height: 30px;
    padding: 7px;
    padding-bottom: 0px;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

.copyright-homepage p {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding-top: 10px;
    width:100%;
}

.design {
   color: #222;
   line-height: 30px;
   min-height: 30px;
   padding: 7px 0;
   text-align: right;
}
.design a {
   color: #222;
}

.marquee {
  font-family: 'clearline', sans-serif;
  font-size: 6rem;
  width: 200px;

}


.marquee-index p{
   
   height: 32px;
   margin: 0 auto;
   color: #000;
}

.column {
   max-width: 100%;
   flex: 50%;
   padding: 5px;
}

.column2 {

   max-width: 100%;
   float: right;
   flex: 50%;
   padding: 5px;
}

.columnHide {

   max-width: 100%;
   float: right;
   flex: 50%;
   padding: 5px;
}

.column3 {

   max-width: 100%;
   flex: 100%;
   padding: 5px;
}

/**/

article h3 {

   position: absolute;
    z-index: 300;
    font-weight: normal;
    cursor: none;
    white-space: nowrap;

}

#hoverdiv {
   display: none;
   position: absolute;
   color: #fff;
   background-color: transparent;
}


#movableText {
   display: none;
   position: absolute;
   color: #fff;
   background-color: transparent;
}


.hover {

   text-align: center;
   font-size: 20px;
   font-weight: 100;
   display: inline-block;
   background-position: 50% 50%;
}

.work-title {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    padding:2px;
    height:360px;
    width: 100%;
}

.wrapper {
   display: flex;
   height: 100%;
   width: 100%;
 }

.navbar-home {
   margin-bottom: 0;
   display: inline-block;
   list-style-type: none;
   position: relative;
}


.navbar-home a{
   margin-bottom: 0;
   color: #fff;
   padding: 20px;
}

.navbar {
   margin-bottom: 0;
   display: inline-block;
   list-style-type: none;
   position: static;
}

.navbar a{
   margin-bottom: 0;
   color: rgb(0, 0, 0);
   cursor: pointer;
}

.navbar-nav {

   font-family: 'hk_novamedium_narrow', sans-serif;
   font-weight:normal;
   font-style:normal;
}

.navbar-brand {

   font-family: 'clearline', sans-serif;
   font-weight:normal;
   font-style:normal;
   font-size: 125px;
   line-height: 85px;
   width: 250px;
   height: 250px;
   -webkit-animation-name: rotate; 
   -webkit-animation-duration: 8s; 
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation-name: rotate; 
   -moz-animation-duration: 8s; 
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;
   animation-name: rotate; 
   animation-duration: 8s; 
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.navbar-brand:hover {
  
   width: 250px;
   color: #fff;
}

.no-transition {
   -webkit-transition: height 0.01s;
   -moz-transition: height 0.01s;
   -ms-transition: height 0.01s;
   -o-transition: height 0.01s;
   transition: height 0.01s;
 }

.overlay {
  
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 26px;
  color: rgb(255, 255, 255);
  display: block;
  transition: 0.3s;
  top: 50px;
  text-align: center;
}

.overlay a:hover, .overlay a:focus {
  color: #fff
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 30px;
}

.banner {

   background: #ffffff;
   font-family: 'hk_novamedium_narrow', sans-serif;
   font-weight: 400;
   font-size: 21px;
   top: 0;
   position: fixed;
   width: 100%;
   color: #fff;
   background: black;
}

.banner-2 {

   background: #ffffff;
   position: fixed;
   bottom: 0;
   font-family: 'hk_novamedium_narrow', sans-serif;
   font-weight: 400;
   font-size: 21px;
   width: 100%;
   color: #fff;
   background: black;
}

#bs-example-navbar-collapse-1 {

   z-index: 2;
   background-color: transparent;
   padding-top: 30px;
}

#bs-example-navbar-collapse-2 {

   padding-top: 30px;
   z-index: 2;
   background-color: transparent;
   height: 340vh;
   transition: height 2.66s ease-out, width 2.66s ease-out;
}

.wfs-image-gap {
   padding: 5px;
}

/*bs-example-navbar-collapse-2 to be used on longer pages (motion, digital design)*/


.form-group {

    padding: 2px;
}


.navbar-inverse {

    background-color: #fff;
    border-color: #fff;
}

.navbar-toggle {
    background-color: #fff;
    margin-top: 86px;
    margin-right: 75px;
    z-index: 2;
    border: none;

}

.navbar-toggle span {
    background-color: #000;
    width: 2px;
    height: 22px;
}

.navbar-toggle .icon-bar {
    height: 4px;
}

.navbar-collapse.in {

   position: absolute;
   right: 15px;
   overflow-y: visible;
   width: 100%;
   height: 100vh;
   background-color: #ffed00;
   overflow: hidden;
   transition: height 0.66s ease-out, width 0.66s ease-out;
}

/* Icon 1 */


#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 24px;
  height: 35px;
  position: absolute;
  margin-top: 30px;
  right: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 46px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open span:nth-child(1) {
  top: 14px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 14px;
  width: 0%;
  left: 50%;
}

.aboutmetext {

   padding-top: 12%;
   overflow: auto;
   position: relative;

}

.aboutmetext p {

   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'hk_novamedium_narrow', sans-serif;
   font-weight: 400;
   font-size: 18px;
   font-style:normal;
   text-decoration-color: #fff;
   color: #fff;
   margin: 38px;
   text-align: center;
   justify-content: center;
}


.switchtext {

   padding-top: 10%;
   overflow: auto;

}

.switchtext p {

   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'hk_novamedium_narrow', sans-serif;
   font-weight: 400;
   font-size: 18px;
   font-style:normal;
   text-decoration-color: rgb(0, 0, 0);
   color: rgb(0, 0, 0);
   overflow: auto;
   padding-bottom: 30px;
   text-align: left;

}

.aboutmetext h2 {

   font-family: 'hk_novamedium_narrow', sans-serif;
   font-size: 4rem;

}

.aboutmetext a {

   color: #fff;
   border-bottom: 2px solid;
   cursor: pointer;
}

.aboutmetext a:hover {

   color: #fff;
   text-decoration: none;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
   background-position: bottom;
   background-repeat: repeat-x;
   background-size: auto 6px;
   border-bottom: 0 #fff;
   padding-bottom: 2px;
   text-decoration: none;
}

.switchtext a {

   color: rgb(0, 0, 0);
   border-bottom: 2px solid;
   cursor: pointer;
}

.switchtext a:hover {

   color: rgb(0, 0, 0);
   text-decoration: none;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
   background-position: bottom;
   background-repeat: repeat-x;
   background-size: auto 6px;
   border-bottom: 0 #fff;
   padding-bottom: 2px;
   text-decoration: none;
}



}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    color:
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
   background: #fff;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
   background: #;
}

.jumbotron p {

   font-weight: 400;

}

.jumbotron {

   height: 100vh;
   background-color: white;
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'hk_novamedium_narrow', sans-serif;
   font-weight: 400;
   font-style:normal;
   text-decoration-color: #fff;
   color: #000;
   list-style-type: none;
   background: black;
      }
      
      @keyframes change {
         0%{
            background-position: 0 50%;
         }
         50%{
            background-position: 100% 50%;
         }
         100%{
            background-position: 0 50%;
         }
      }


      /* Color Theme Swatches in Hex */
.yeezy-boost_190227_001-1-hex { color: #F2F2F2; }
.yeezy-boost_190227_001-2-hex { color: #AAB9BF; }
.yeezy-boost_190227_001-3-hex { color: #D9CEBA; }
.yeezy-boost_190227_001-4-hex { color: #F29F8D; }
.yeezy-boost_190227_001-5-hex { color: #D9A79C; }

/* Color Theme Swatches in RGBA */
.yeezy-boost_190227_001-1-rgba { color: rgba(242, 242, 242, 1); }
.yeezy-boost_190227_001-2-rgba { color: rgba(170, 184, 191, 1); }
.yeezy-boost_190227_001-3-rgba { color: rgba(216, 205, 186, 1); }
.yeezy-boost_190227_001-4-rgba { color: rgba(242, 158, 140, 1); }
.yeezy-boost_190227_001-5-rgba { color: rgba(216, 167, 156, 1); }

/* Color Theme Swatches in HSLA */
.yeezy-boost_190227_001-1-hsla { color: hsla(0, 0, 94, 1); }
.yeezy-boost_190227_001-2-hsla { color: hsla(197, 14, 70, 1); }
.yeezy-boost_190227_001-3-hsla { color: hsla(38, 28, 79, 1); }
.yeezy-boost_190227_001-4-hsla { color: hsla(10, 79, 75, 1); }
.yeezy-boost_190227_001-5-hsla { color: hsla(10, 44, 73, 1); }



.bg {

   background-image: ("images/wallpaper2.png") no-repeat center center;
   background-size: 100%;
   position: fixed;
   width: 100%;
   height: 100vh;
   top:0;
   left:0;
   z-index: -1;
}

.contact{

   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'hk_novamedium_narrow', sans-serif;
   font-weight: 400;
   font-size: 18px;
   font-style:normal;
   text-decoration-color: #fff;
   padding-top: 10%;
}

.contact a {

   color: #fff;
   border-bottom: 2px solid;
   cursor: pointer;
}

.contact a:hover {

   color: #fff;
   text-decoration: none;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
   background-position: bottom;
   background-repeat: repeat-x;
   background-size: auto 6px;
   border-bottom: 0 #fff;
   padding-bottom: 2px;
   text-decoration: none;
}



.contact h2 {

   font-family: 'clearline', sans-serif;
   font-size: 6rem;
   color: #fff;

}
.navbar-toggle .icon-bar {

   display: block;
   width: 24px;
   height: 4px;
   background-color: #000;
   border-radius: 0px;

}

.intro h1{
    text-align:center;
    width: 100%;
    padding-right:45px;
    color: #fff;
}

.intro a {
    text-align:center;
    width: 100%;
}


.intro ul {
    display:inline-block;
    text-align: center;
}
.intro li {
    float:left;
}
.intro li + li {
    margin-left:20px;
}

.intro {

   position: absolute;
   top: 40%;
   font-family: 'hk_novamedium_narrow', sans-serif;
   display: inline-block;
   list-style-type: none;
   text-align:center;
   width: 100%;

}
.button {

   background: #111;
   width: 450px;
   height: 32px;
   transform: translateY(-50%); 
   margin: 0 auto;
}
.button a {

   display: block;
   width: 100%;
   height: 100%;
   color: #000;

}

a {

   color: rgb(0, 0, 0);
   cursor: pointer;

}

a:hover, a:focus {
   color: #000;
}

h1, h2 {

   line-height: 1.2;
   color: #fff;
}

.box{

   padding:2px;
   height:360px;
}


.box img{

   padding:2px;
   height:360px;
}

.tablet-text {

   position: relative;
   font-family: 'hk_novamedium_narrow', sans-serif;
   padding-top: 120px;
   padding-left: 80px;
}

.tablet-text2 {

   position: relative;
   font-family: 'hk_novamedium_narrow', sans-serif;
   padding-top: 120px;
   padding-left: 20px;
}

.tablet-text3 {

   position: relative;
   font-family: 'hk_novamedium_narrow', sans-serif;
   padding-top: 120px;
   padding-left: 20px;
}

.main {
   height: 360px;
}

.main-medium {

   height: 360px;
   width: 100%;

}

 .overlay {
   position: absolute;     bottom: 5px; left: 0px;
   right: 2px; padding:0;   z-index: 2;   transition: opacity 1.5s ease;  opacity:0;
}

.overlay:hover {  opacity:1;  

   background-color: #000;}


.referee-hub img{

   margin-top: 105px;
   height: auto;
   max-width: 100%;
   padding: 0;
}

.referee{

   margin-top: 5px;
   margin-bottom: 25px;
   height: auto;
   max-width: 100%;
   padding: 0;
}


.referee img{

   margin-top: 5px;
   margin-bottom: 25px;
   height: auto;
   max-width: 100%;
   padding: 0;
}

.dtp img{

   margin-top: 5px;
   margin-bottom: 5px;
   max-width: 100%;
   height: auto;
   padding: 0;
}

.github {

   position: relative;
   padding: 5px;

}

.github:hover {

}

@-webkit-keyframes rotate {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}

.github img {

   height:30px;
}

.linkedin {

   position: relative;
   padding: 5px;

}

.linkedin:hover {

}

.linkedin img {

   height: 30px;
}

.facebook {
   
   position: relative;
   padding: 5px;
   margin-bottom: 20px;
}

.facebook img {

   height: 30px;
}

.about-me-tablet a{

color: #fff;

}

.group-tablet a{

color: #fff;

}

.game-tablet a{

color: #fff;

}

.my-green-leeds-tablet a{

color: #fff;

}

.digital-design-tablet a{

color: #fff;

}

.referee-hub-tablet a{

color: #fff;

}

.switch-tablet a{

color: #fff;

}

.dtp-tablet a{

color: #fff;

}

.contact-tablet a{

color: #fff;

}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

@media screen and (min-width: 176px) and (max-width: 575px) {

#bs-example-navbar-collapse-1 {

  z-index: 2;
  background-color: rgb(255, 255, 255);

}

#bs-example-navbar-collapse-2 {

   z-index: 2;
   background-color: #000;
 
 }

.navbar-brand {

   font-family: 'clearline', sans-serif;
   font-weight:normal;
   font-style:normal;
   font-size: 125px;
   line-height: 85px;
   width: 150px;
   height: 150px;
   -webkit-animation-name: rotate; 
   -webkit-animation-duration: 8s; 
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation-name: rotate; 
   -moz-animation-duration: 8s; 
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;
   animation-name: rotate; 
   animation-duration: 8s; 
   animation-iteration-count: infinite;
   animation-timing-function: linear;

}

.navbar-brand:hover {

   width: 150px;
   color: #fff;
}

.nav > li {
   position: relative;
   display: block;
   font-size: 26px;
   padding: 20px;
   top: 50px;
   text-align: center;
   margin: 0 auto;
}

.nav > li > a:hover, .nav > li > a:focus {
   background-color: #000;
   color: #fff;
}

//pull right used below is only for purpose of centering on mobile devices

.pull-right {
   float: none !important;
}

.intro h1 {

   padding:2px;

}

.intro p {

   padding:2px;
   font-size: 14px;

}

.marquee-index p {

  width: ;
}

.button {

   background: #111;
   width: 300px;
   height: 27px;
   transform: translateY(-50%); 
   margin: 0 auto;
}

.button a {

   display: block;
   width: 100%;
   height: 100%;
   color: #000;

}

.aboutmetext p {

   font-family: 'hk_novamedium_narrow', sans-serif;
   font-style:normal;
   color: #fff;
   font-size: 14px;
}

.switchtext p {

   font-family: 'hk_novamedium_narrow', sans-serif;
   font-style:normal;
   color: #000;
   font-size: 14px;
}

.aboutmetext h2 {

   padding-top: 10px;
   font-size: 5rem;

}

.contact p {

  font-size: 14px;

}

.contact a {

  font-size: 14px;

}

.contact h2 {

  font-size: 5rem;

}

.column {
   max-width: 100%;
   flex: 100%;
}

.column2 {

   max-width: 100%;
   float: right;
   flex: 100%;
   padding: 5px;
}
.columnHide {
   display: none;
}


.wrapper {
   flex-direction: column-reverse;
}

.wrapper.mgl {
   flex-direction: column;
}

.referee-hub img{

   margin-top: 20px;
   margin-bottom: 10px;
   height:360px;
   padding: 0;

}

.bg {

   background-image: ("images/wallpaper2.png") no-repeat center center;
   position: fixed;
   width: 100%;
   height: 100vh;
   top:0;
   left:0;
   z-index: -1;
}


.copyright {
    color: #222;
    line-height: 30px;
    min-height: 30px;
    padding: 7px;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    clear: both;

}

.copyright a:hover {
    color: #222;

}


.banner {
   font-size: 18px;
}

.banner-2 {
   font-size: 18px;
}




}

@media (min-width: 576px) and (max-width: 767px) { 

#bs-example-navbar-collapse-1 {

      z-index: 2;
      background-color: #fff;    
    }

#bs-example-navbar-collapse-2 {

      z-index: 2;
      background-color: #000;    
    }
    
.aboutmetext {

    padding-top: 90px;

    }

.aboutmetext p {

   font-family: 'hk_novamedium_narrow', sans-serif;
   font-style:normal;
   color: rgb(0, 0, 0);
   font-size: 17px;
}

.switchtext p {

   font-family: 'hk_novamedium_narrow', sans-serif;
   font-style:normal;
   color: rgb(0, 0, 0);
   font-size: 17px;
}

.navbar-brand {

   font-family: 'clearline', sans-serif;
   font-weight:normal;
   font-style:normal;
   font-size: 125px;
   line-height: 85px;
   width: 175px;
   height: 175px;
   -webkit-animation-name: rotate; 
   -webkit-animation-duration: 8s; 
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation-name: rotate; 
   -moz-animation-duration: 8s; 
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;
   animation-name: rotate; 
   animation-duration: 8s; 
   animation-iteration-count: infinite;
   animation-timing-function: linear;

}

.navbar-brand:hover {

   width: 175px;
   color: #fff;
}

.navbar-brand a {

  color: #fff;
}

.nav > li {
   position: relative;
   display: block;
   font-size: 26px;
   padding: 20px;
   top: 50px;
   text-align: center;
   margin: 0 auto;
}

.intro h1 {

   padding:2px;
   font-size: 50px;

}

.intro p {

   
}

.referee-hub img{

   margin-top: 30px;
   height:360px;
   padding: 0;
}


.copyright {
    color: #222;
    line-height: 30px;
    min-height: 30px;
    padding: 7px;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    clear: both;
    

}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 24px;
  height: 35px;
  position: absolute;
  margin-top: 30px;
  right: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.banner {
   font-size: 19px;
}

.banner-2 {
   font-size: 19px;
}

}

@media (min-width: 768px) {

.navbar-nav {
  float: none;
}

 #nav-icon3 {
  display: none;

  }

}

@media (min-width: 768px) and (max-width: 991px) {

.referee-hub img{

   margin-top: 90px;
   height:360px;
   padding: 0;

}

  }


@media (min-width: 992px) and (max-width: 1199px) { 

.container {

  min-height:100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.referee-hub img{

   margin-top: 30px;
   height:360px;
   padding: 0;

}

.copyright-switch {

    position: relative;

}

}


@media (min-height: 330px) and (max-height: 725px) { 

	.copyright {

		position: relative;
		
	}

}

@media (min-height: 330px) and (max-height: 725px) { 

.copyright-contact {
   position: relative;
   margin-top: 85px;
}

.copyright-switch {
   position: relative;
   margin-top: 85px;
}

}

@media (min-height: 200px) and (max-height: 825px) { 

	.banner {
      font-size: 18px;
   }
   
   .banner-2 {
      font-size: 18px;
   }

}

@media (min-height: 1200px) {

   .copyright-others {

      position: absolute;
   }

   .container.others {

        position: relative;
        top: 45%;
        min-block-size: 0vh;
        
   }

   .container {
        min-block-size: 0vh;
   }

}

/************************************************************
************************STYLE CSS****************************
*************************************************************/